<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Підключення до бази даних -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/production</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Pomidor2007_</property>

        <!-- Відображення SQL-запитів у консолі -->
        <property name="hibernate.show_sql">true</property>

        <!-- Автоматичне оновлення схеми бази даних -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Додати у hibernate.cfg.xml -->


        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.minimumIdle">2</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.poolName">MyHikariCP</property>
        <property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>
        <property name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>
        <property name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>

        <!-- Вказуємо класи сутностей -->
        <mapping class="com.practice.demo.models.Factories"/>
        <mapping class="com.practice.demo.models.Products"/>
    </session-factory>
</hibernate-configuration>
