<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/shows/products.css">
</head>
<body>
    <div class="container">
        <h2>Product Details</h2>
        <ul id="product-details">
            <li><strong>ID:</strong> <span id="product-id" th:text="${product.id}"></span></li>
            <li><strong>Name:</strong> <span id="product-name" th:text="${product.product_name}"></span></li>
            <li><strong>Code:</strong> <span id="product-code" th:text="${product.product_code}"></span></li>
            <li><strong>Produced:</strong> <span id="product-produced" th:text="${product.cost_price}"></span></li>
            <li><strong>Sold:</strong> <span id="product-sold" th:text="${product.selling_price}"></span></li>
            <li><strong>Name:</strong> <span id="factoies-id" th:text="${product.factories_id}"></span></li>
            <li><strong>Date Made:</strong> <span id="product-date" th:text="${product.date_made}"></span></li>
        </ul>
    </div>
    <script src="/shows/products.js"></script>
</body>
</html>
